In [123]:
%%html
<style>
h1, h2, h3, h4, h5 {
    color: darkblue;
    font-weight: bold !important;
}
h2 {
    border-bottom: 8px solid darkblue !important;
    padding-bottom: 8px;
}
h3 {
    border-bottom: 2px solid darkblue !important;
    padding-bottom: 6px;
}
.info, .success, .warning, .error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px;
}
.info {
    color: #00529b;
    background-color: #bde5f8;
}
.success {
    color: #4f8a10;
    background-color: #dff2bf;
}
.warning {
    color: #9f6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}
.language-bash {
    font-weight: 900;
}
.ex {
    font-weight: 900;
    color: rgba(27,27,255,0.87) !important;
}
.mn {
    font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace
}
table {
    margin-left: 0 !important;}
</style>

# Day 2: Up and Running with Python

## 2.2 List and Tuple

List and tuple share similar attributes and methods except that

-   List is mutable but tuple is immutable
    -   We could add or delete items from list but not from tuple
    -   We could hash a tuple but not a list


-   Tuple is more memory efficient than list

-   We use square brackets "\[, \]" or `list()` to create list

-   We use parentheses "\(, \)" or `tuple()` to create tuple

-   We could convert a tuple object to a list object by casting the former using `list()`

-   We could convert a list object to a tuple object by casting the former using `tuple()`

<span class='ex'>Example: Attributes and methods in <span class='mn'>list</span></span>

In [1]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

<span class='ex'>Example: Create empty list</span>

In [ ]:
a = []     # Create an empty list
print(a)
print(type(a))

a = list() # Create an empty list
print(a)
print(type(a))

<span class='ex'>Example: Create list</span>

In [3]:
a = [1,2,3,4,5] # Create a list with 5 items
print(a)

a = ['a', 3.14, 100, True, [1, 2], (3, 4), {"a": "apple"}]
print(a)

[1, 2, 3, 4, 5]
['a', 3.14, 100, True, [1, 2], (3, 4), {'a': 'apple'}]

<span class='ex'>Example: Append item and list to an existing list</span>

In [4]:
a = []
a.append(1)  # Append 1 to end of list a
print(a)

a.append(2)  # Append 2 to end of list a
print(a)

b = ['apple', 'banana']
a.append(b)  # Append list a to end of list a
print(a)

[1]
[1, 2]
[1, 2, ['apple', 'banana']]

<span class='ex'>Example: Accessing items from a list</span>

In [5]:
a = [0, 1, 2, ['apple', 'banana', 'carrot', 'durian']]

print(a[0])    # 1st item from the list
print(a[1])    # 2nd item from the list
print(a[3])    # 4th item from the list
print(a[3][3]) # 4th item from the sublist of 4th item in the list

0
1
['apple', 'banana', 'carrot', 'durian']
durian

<span class='ex'>Example: Slices from a list</span>

In [6]:
a = [0, 1, 2, ['apple', 'banana', 'carrot', 'durian']]

print(a[1:4])  # from index=1 to before index=3
print(a[0::2]) # from index=0 to the end, skip every 2nd item

print(a[-1])     # -1 means the last
print(a[-2])     # -2 means the second last
print(a[-1::-2]) # from index=-1 to the beginning, skip every 2nd item
print(a[-1::-1]) # Reverse order of all items in the list

[1, 2, ['apple', 'banana', 'carrot', 'durian']]
[0, 2]
['apple', 'banana', 'carrot', 'durian']
2
[['apple', 'banana', 'carrot', 'durian'], 1]
[['apple', 'banana', 'carrot', 'durian'], 2, 1, 0]

In [7]:
a = [0, 1, 2, ['apple', 'banana', 'carrot', 'durian']]
print(a)
a[0] = 99
print(a)

[0, 1, 2, ['apple', 'banana', 'carrot', 'durian']]
[99, 1, 2, ['apple', 'banana', 'carrot', 'durian']]

<span class='ex'>Example: Insert item or lists in front of a given index</span>

In [8]:
a = [0, 1, 2, ['apple', 'banana', 'carrot', 'durian']]
print(a)

a.insert(1, 'Hi')  # Insert 'Hi' before index=1
print(a)

a[4].insert(3, 'blueberry')
print(a)

[0, 1, 2, ['apple', 'banana', 'carrot', 'durian']]
[0, 'Hi', 1, 2, ['apple', 'banana', 'carrot', 'durian']]
[0, 'Hi', 1, 2, ['apple', 'banana', 'carrot', 'blueberry', 'durian']]

<span class='ex'>Example: Check existance of an item in a list</span>

In [12]:
a = [0, 1, 2, ['apple', 'banana', 'carrot', 'durian']]

print(1 in a)
print([1] in a)
print(['apple', 'banana', 'carrot', 'durian'] in a)

True
False
True

<span class='ex'>Example: Count number of occurences of a given item in a list</span>

In [15]:
a = [0, 1, 2, 2, 4]

a.count(5)

0

<span class='ex'>Example: Get index of a given item from a list</span>

In [16]:
a = [0, 1, 2, 3, 2, 2, 4]

i = a.index(2)
print(i)

i = a.index(2, i+1)
print(i)

print()
start = 0
while True:
    try:
        i = a.index(2, start)
        print(i, end=', ')
        start = i+1
    except:
        break

2
4

2, 4, 5,

<span class='ex'>Example: Remove an item from a list</span>

In [42]:
a = [1, 2, 1, 5, 3, 4, 5]
a.remove(5)
print(a)

[1, 2, 1, 3, 4, 5]

<span class='ex'>Example: Remove all items of a particular value from a list</span>

In [44]:
a = [1, 2, 1, 5, 3, 4, 5]

while True:
    try:
        a.remove(5)
    except ValueError:
        break
print(a)

[1, 2, 1, 3, 4]

<span class='ex'>Example: Return and remove the last item list</span>

In [17]:
a = [1, 2, 1, 5, 3, 4, 5]
print(a, '\n')
n = a.pop()
print(n)
print(a, '\n')
n = a.pop(1)  # Remove and return item in index 1
print(n)
print(a, '\n')

[1, 2, 1, 5, 3, 4, 5]

5
[1, 2, 1, 5, 3, 4]

2
[1, 1, 5, 3, 4]

<span class='ex'>Example: Clear all items from a list</span>

In [51]:
a = [1, 2, 1, 5, 3, 4, 5]

a.clear()  # a = [] does the same thing
print(a)

[]

<span class='ex'>Example: Sort items in a list</span>

In [53]:
a = [1,3,2,10,-1,-3,-0.1,9,8,4,5]
b = ['A','a','Aa','aA','AA']
a.sort()
print(a)
b.sort()
print(b)

a.sort(reverse=True)
print(a)

[-3, -1, -0.1, 1, 2, 3, 4, 5, 8, 9, 10]
['A', 'AA', 'Aa', 'a', 'aA']
[10, 9, 8, 5, 4, 3, 2, 1, -0.1, -1, -3]

<span class='ex'>Example: Aggregated function on list</span>

In [25]:
a = [1,3,2,10,-1,-3,-0.1,9,8,4,5]

print(max(a))
print(min(a))
print(sum(a))

10
-3
37.9

<span class='ex'>Example: Fatest method to compute the sum of 1 to 100?</span>

In [26]:
%timeit sum(range(101))

1.17 µs ± 8.84 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [29]:
%%timeit
sumx = 0
for x in range(101):
    sumx += x

4.15 µs ± 198 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [30]:
%%timeit
sum(list(range(101)))

1.86 µs ± 46.1 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

<span class='ex'>Example: Extend a list with another list</span>

In [31]:
a = [1,3,2]

a.extend('abc')
print(a)

[1, 3, 2, 'a', 'b', 'c']

# Exercise

Write a program to compute the sum of square of odd values from [1, 10000]

Store the the odd values, separated by commas ',' and write to a file `odd.txt`.
Store the sum into a second line of the same file.

### Solution

In [48]:
print??

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [56]:
data = [] # A list to store all odd values of strings
sumsq = 0 # Sum of all the square of odd values

for x in range(1,10001,2):
    data.append(str(x))
    sumsq += x*x

with open('data.txt', 'wt') as f:
    f.write(','.join(data) + '\n')
    f.write(str(sumsq))

<span class='ex'>Example: Attributes and methods in <span class='mn'>tuple</span></span>

In [57]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

<span class='ex'>Examples: Common methods found in <span class='mn'>tuple</span> and <span class='mn'>list</span></span>

In [58]:
a = ()      # Create an empty tuple
b = tuple() # Create an empty tuple
b = (1, 2)  # Create a tuple with two items
c = (1, 1.21, 'Hi', a, b)  # Create a tuple with different data types
d = (1)
e = (1,)
print(a)
print(b)
print(c)
print(d)
print(e)
print(type(a), type(b), type(c), type(d), type(e))

()
(1, 2)
(1, 1.21, 'Hi', (), (1, 2))
1
(1,)
<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'int'> <class 'tuple'>

In [59]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(a[0])
print(a[0::2])
print(a[0:6:3])
print(a[-1])
print(a[-1::-1])
print(a[-1:-5:-1])

1
(1, 3, 5, 7, 9)
(1, 4)
9
(9, 8, 7, 6, 5, 4, 3, 2, 1)
(9, 8, 7, 6)

In [60]:
c = (1, 2, 3, (4, 5), (6, 7, 8), 9, (10, 11))
print(c[0])    # First item of c
print(c[4][1]) # 2nd item of 5th item in c

1
7

In [62]:
c = (1, 2, 3, (4, 5), (6, 7, 8), 9, (10, 11))
1 in c

True

In [63]:
c.count(-1)  # Count number of occurrance for -1

0

In [64]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(max(a))
print(min(a))
print(sum(a))

9
1
45

In [65]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

<span class='ex'>Example: Swap values between tuples</span>

In [62]:
x, y = 1, 2  # Assign x to 1, y to 2
print(x, y)
a, b = x ,y  # Assign a to x, b to y
print(a, b)
x, y = y, x  # Swap x with y
print(x, y)

1 2
1 2
2 1

<span class='ex'>Example: The fastest way to retrieve indexes of 5's in a tuple</span>

In [66]:
import random

# Create 10,000 items of integer in [0,20] into a tuple
random.seed(12)
t = []  # t is a list at the moment
for i in range(10_000):
    t.append(random.randint(0,20))
t = tuple(t)  # t is now a tuple
len(t)

10000

In [71]:
%%timeit
index = []
for i in range(len(t)):  # i is index from 0 ... len(t)-1
    if t[i] == 5:
        index.append(i)

756 µs ± 48.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [72]:
%%timeit
n = t.count(5)  # Number of occurence of 5 in t
start = 0
index = []
while n > 0:
    i = t.index(5, start) # Found the index of 5 from start
    start = i+1  # Move start to the next item in the list
    index.append(i)
    n -= 1

492 µs ± 42.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [73]:
%%timeit
n = t.count(5)  # Number of occurence of 5 in t
start = 0
index = []
for _ in range(n):
    i = t.index(5, start) # Found the index of 5 from start
    start = i+1  # Move start to the next item in the list
    index.append(i)

456 µs ± 21.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)